<div id="dialog-control">
    <button id="close-event-display" class="secundary-button" onclick='eventListDialog.close()'>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFF"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    </button>
</div>
<div id="event-group">
    {% for event in calendarevent_list %}
        <div class="event-tile" onclick="showEvent()"
            style="{% spaceless %}
            {% if event.end_point.hour|add:event.start_point.hour != 23 and event.end_point.minute|add:event.start_point.minute != 59 %}
                color: var(--text-color);
                background-color: transparent;
                border-left: 3px solid {{ event.event_color.background }}
            {% else %}
                color: var(--text-color);
                background-color: {{ event.event_color.background }}
            {% endif %}{% endspaceless %}"
            hx-get="{% url 'html_assets:show_event_dialog' event.pk %}"
            hx-target="dialog#show-event-dialog"
            hx-swap="innerHTML"
        >
            <span>{{ event.title|default_if_none:"Sem título"|truncatechars:25 }}</span>
            <time>{{ event.start_point|date:"d/m/Y" }}</time>
        </div>
    {% endfor %}
</div>