{% extends "base.html" %}

{% load static %}

{% block head %}
    <script defer src="{% static "homepage/js/authenticated_index.js" %}"></script>
    <link rel="stylesheet" href="{% static "homepage/css/style.css" %}">
    <link rel="stylesheet" href="{% static "html_assets/css/context-menu.css" %}">
    <link rel="stylesheet" href="{% static "html_assets/css/show-event-dialog.css" %}">
    <link rel="stylesheet" href="{% static "html_assets/css/event-tiles.css" %}">
{% endblock head %}

{% block title %}Calendário{% endblock title %}

{% block body %}
    <header>
        <a href={% url "homepage:homepage" %}>
            <svg id="logo" version="1.1" viewBox="0 -960 839.57 944.04" xmlns="http://www.w3.org/2000/svg">
                <path id="calendar" d="m89.279-15.962q-37.423 0-63.351-25.928t-25.928-63.351v-661.02q0-37.423 25.928-63.351t63.351-25.928h68.376v-104.47h75.981v104.47h374.2v-104.47h74.08v104.47h68.376q37.423 0 63.351 25.928t25.928 63.351v661.02q0 37.423-25.928 63.351t-63.351 25.928zm0-74.08h661.02q5.7042 0 10.445-4.7535 4.7535-4.7411 4.7535-10.445v-463.47h-691.41v463.47q0 5.7042 4.7535 10.445 4.7411 4.7535 10.445 4.7535zm-15.199-552.75h691.41v-123.47q0-5.7042-4.7535-10.445-4.7411-4.7535-10.445-4.7535h-661.02q-5.7042 0-10.445 4.7535-4.7535 4.7411-4.7535 10.445zm0 0v-138.67z" stroke-width="1.2347"/>
                <text id="letter-s" transform="scale(.96661 1.0345)" x="315.93643" y="-154.67946" font-family="sans-serif" font-size="432.18px" stroke-width="18.026" xml:space="preserve"><tspan id="tspan1" x="315.93643" y="-154.67946" font-weight="bold" stroke-width="18.026">S</tspan></text>
            </svg>
        </a>
        <div>
            {% if month and year %}
                <span>{{ monthname }} de {{ year }}</span>
            {% else %}
                <span>{{ monthname }} de {{ today.year }}</span>
            {% endif %}

            {% if previous.month == 12 %}
                <a href={% url "homepage:month_page" month=previous.month year=previous.year %} >
                    <button class="default-button" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m480-320 56-56-64-64h168v-80H472l64-64-56-56-160 160 160 160Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                    </button>
                </a>
            {% else %}
                <a href={% url "homepage:month_page" month=previous.month year=date_list.0.year %} >
                    <button class="default-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m480-320 56-56-64-64h168v-80H472l64-64-56-56-160 160 160 160Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                    </button>
                </a>
            {% endif %}
            <a href={% url "homepage:month_page" month=next.month year=date_list.41.year %}>
                <button class="default-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                </button>
            </a>

            <button id="context-menu-button"
                class="secundary-button"
                hx-get={% url "html_assets:context_menu" %}
                hx-target=""
                hx-swap="afterend"
                hx-trigger="click once"
            >
                {{ user.first_name }}
                <img src="{{ user.profile_picture }}" alt={{ user.full_name }}>
            </button>
        </div>
    </header>
    <main>
        <div><span class="week-day">{{ week_days.6 }}</span></div>
        {% for week in week_days.values %}
            {% if not forloop.last %}
                <div><span class="week-day">{{ week }}</span></div>
            {% endif %}
        {% endfor %}
        {% for date in date_list %}
            {% if date.day == today.day and date.month == today.month and date.year == today.year %}
                <div class="calendar-tile logged"
                    data-month={{ date.month }}
                    data-year={{ date.year }}
                    hx-get={% url "html_assets:create_event_dialog" %}
                    hx-target="dialog#create-event-dialog"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <span id="today"
                        hx-get="{% url 'html_assets:event_tiles' year=date.year month=date.month day=date.day %}"
                        hx-target="this"
                        hx-swap="afterend"
                        hx-trigger="load"
                    >
                        <svg version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <g transform="matrix(2.3364 0 0 2.3364 -455.79 -460.61)">
                                <circle cx="201.93" cy="203.99" r="6.2173"/>
                                <text x="197.87964" y="206.43811" xml:space="preserve"><tspan x="197.6964" y="206.43811">{{ date.day|stringformat:"02d" }}</tspan></text>
                            </g>
                        </svg>
                    </span>
                </div>
            {% elif date.month == previous.month or date.month == next.month %}
                <div class="calendar-tile disabled-tile logged"
                    data-month={{ date.month }}
                    data-year={{ date.year }}
                    hx-get={% url "html_assets:create_event_dialog" %}
                    hx-target="dialog#create-event-dialog"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <span
                        hx-get="{% url 'html_assets:event_tiles' year=date.year month=date.month day=date.day %}"
                        hx-target="this"
                        hx-swap="afterend"
                        hx-trigger="load"
                    >{{ date.day|stringformat:"02d" }}</span>
                </div>
            {% else %}
                <div class="calendar-tile logged"
                    data-month={{ date.month }}
                    data-year={{ date.year }}
                    hx-get={% url "html_assets:create_event_dialog" %}
                    hx-target="dialog#create-event-dialog"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <span
                        hx-get="{% url 'html_assets:event_tiles' year=date.year month=date.month day=date.day %}"
                        hx-target="this"
                        hx-swap="afterend"
                        hx-trigger="load"
                    >{{ date.day|stringformat:"02d" }}</span>
                </div>
            {% endif %}
        {% endfor %}
        <dialog id="show-event-dialog"></dialog>
        <dialog id="create-event-dialog"></dialog>
    </main>
{% endblock body %}