{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "homepage/css/style.css" %}">
{% endblock head %}

{% block title %}Documento{% endblock title %}

{% block body %}
    <header>
        <h1>Calendário</h1>
        <div>
            {% if previous.month == 12 %}
                <a href={% url "homepage:month_page" month=previous.month year=previous.year %} >
                    <button class="default_button" >&lt;</button>
                </a>
            {% else %}
                <a href={% url "homepage:month_page" month=previous.month year=date_list.0.year %} >
                    <button class="default_button" >&lt;</button>
                </a>
            {% endif %}
            <a href={% url "homepage:month_page" month=next.month year=date_list.41.year %}>
                <button class="default_button" >&gt;</button>
            </a>
        </div>
    </header>
    <hr>
    <main>
        {% for week in week_days.values %}
            <div><span class="week-day">{{ week }}</span></div>
        {% endfor %}
        {% for date in date_list %}
            {% if date.day == today.day and date.month == today.month and date.year == today.year %}
                <div class="calendar-tile">
                    <span id="today" >{{ date.day }}</span>
                </div>
            {% else %}
                <div class="calendar-tile">
                    <span>{{ date.day }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </main>
{% endblock body %}