main {
    display: grid;
    height: fit-content;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2em repeat(6, calc(15.2dvh - (2em / 6)));

    .week-day {
        font-size: var(--text-size);
        position: relative;
        top: 0.8em;
        left: calc(50% - 1em);
    }

    .calendar-tile {
        border: 1px solid var(--accent-color);

        color: var(--text-color);
        background-color: var(--background);

        span {
            display: inline-block;
            height: 32px;
            width: 32px;
            padding: 8px;

            font-size: var(--text-size);
            text-align: center;
        }

        span#today {
            padding: unset;

            svg {
                circle { fill: var(--primary-color); }

                text {
                    fill: white;
                    font-size: 50%;
                }
            }
        }
    }

    .disabled-tile {
        color: var(--accent-color);
    }
}