header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    button {
        padding: 5px;
    }
}

main {
    display: grid;
    height: fit-content;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 15vh);

    .calendar-tile {
        border: 1px solid black;

        span {
            display: inline-block;
            margin: 5px;
        }
    }

    #today {
        /* margin: -5px; */

        border: 10px solid blue;
        border-radius: 100%;

        background-color: blue;
    }
}