.calendar-tile:has(.more-events-indicator) span { order: -2; }
.calendar-tile:not(:has(.more-events-indicator)) span { grid-column: 1 / 3; }

span.more-events-indicator {
    margin-left: auto;
    order: -1;
    cursor: pointer;
    font-weight: bold;
}

.event-tile {
    padding: 5px;
    margin: 1px;

    cursor: pointer;
    align-content: center;
    border-radius: var(--default-bradius);
}